body {
    background-color: #D3D3D3;
}

header h1 {
    color:blue;
}

main p {
    color: green;
}

a:hover {
    color: red;
}

table {
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
}

th, td{
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}